<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Conquizgamer</title>
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="conquizgamer.js"></script>
  <script src="conquizgamerController.js"></script>
  <script src="answerEvaluaterService.js"></script>
  <script src="quizGeneratorService.js"></script>
</head>

<body>
  <div ng-app="conquizgamer" ng-controller="conquizgamerController" class="w3-card-4 w3-margin w3-col m9 l6 w3-display-topmiddle">
    <form>
      <h3 class="w3-container w3-light-grey w3-padding-8">{{quiz.question}}<span class="w3-badge w3-green w3-right">{{points}}</span></h3>
      <div ng-repeat="answer in quiz.answers | orderBy">
        <button ng-click="evaluate(answer)" class="w3-btn w3-btn-block w3-round-large w3-large w3-blue w3-hover-yellow w3-margin-bottom">{{answer}}</button>
      </div>
    </form>
  </div>
</body>

</html>
